h3 Question id #{@question.id} : #{@question.title} | #{@question.body}
h3 Answer id #{@answer.id} : #{@answer.body}
h3 =link_to  "Delete", answer_path, method: :delete, data: { confirm: 'Are you sure?' }