<ol>
  <div class="other-answers">
    <li>
      <div class="answer-3">
        <p>new1</p>
        <div class="other-answer-attachments"></div>
        <div class="other-answer-links"></div>
        <div class="other-answer-vote"></div>
        <p><a class="best-answer-link" 
        data-answer-id="3" data-remote="true" 
        rel="nofollow" data-method="patch" 
        href="/answers/3/select">Best answer</a></p>
        <p><a class="edit-answer-link" 
        data-answer-id="3" 
        href="/answers/3">Edit answer</a></p>
        <p><a class="delete-answer-link" 
        data-answer-id="3" rel="nofollow" 
        data-method="delete" 
        href="/answers/3">Delete answer</a></p>
        <div class="edit-answer">
          <form class="hidden" id="edit-answer-3" 
          enctype="multipart/form-data" 
          action="/answers/3" accept-charset="UTF-8" 
          data-remote="true" method="post">
          <input type="hidden" name="_method" value="patch" autocomplete="off">
          <input type="hidden" name="authenticity_token" value="9DKKMd7lqGWvfE3VmVgf2KMP7m3UyBFay6jxVPsVjsrWapJ1ZeVQ3IlJHebxFPRvyx1G6DVOXhVwilp3LmoGEg" autocomplete="off">
          <p><label for="answer_body">Body</label><textarea name="answer[body]" id="answer_body">new1</textarea></p>
          <p><label for="answer_files">Files</label><input multiple="multiple" data-direct-upload-url="http://localhost:3000/rails/active_storage/direct_uploads" type="file" name="answer[files][]" id="answer_files"></p>
          <p><input type="submit" name="commit" value="Save" data-disable-with="Save"></p>
          <div id="links">
            <div class="links">
              <a class="add_fields" data-association="link" 
              data-associations="links" 
              data-association-insertion-template="<div class=&quot;nested-fields&quot;><p><label for=&quot;answer_links_attributes_new_links_name&quot;>Link name</label><input type=&quot;text&quot; name=&quot;answer[links_attributes][new_links][name]&quot; id=&quot;answer_links_attributes_new_links_name&quot; /></p><p><label for=&quot;answer_links_attributes_new_links_url&quot;>Url</label><input type=&quot;text&quot; name=&quot;answer[links_attributes][new_links][url]&quot; id=&quot;answer_links_attributes_new_links_url&quot; /></p><input value=&quot;false&quot; autocomplete=&quot;off&quot; type=&quot;hidden&quot; name=&quot;answer[links_attributes][new_links][_destroy]&quot; id=&quot;answer_links_attributes_new_links__destroy&quot; /><a class=&quot;remove_fields dynamic&quot; href=&quot;#&quot;>remove link</a></div>" 
              href="#">add link</a>
              </div>
              </div>
              </form>
              </div>
              </div>
              </li>
              <li>
                <div class="answer-4"><p>new2</p>
                <div class="other-answer-attachments"></div>
                <div class="other-answer-links"></div>
                <div class="other-answer-vote"></div>
                <p><a class="best-answer-link" data-answer-id="4" data-remote="true" rel="nofollow" data-method="patch" href="/answers/4/select">Best answer</a></p>
                <p><a class="edit-answer-link" data-answer-id="4" href="/answers/4">Edit answer</a></p><p><a class="delete-answer-link" data-answer-id="4" rel="nofollow" data-method="delete" href="/answers/4">Delete answer</a></p><div class="edit-answer"><form class="hidden" id="edit-answer-4" enctype="multipart/form-data" action="/answers/4" accept-charset="UTF-8" data-remote="true" method="post"><input type="hidden" name="_method" value="patch" autocomplete="off"><input type="hidden" name="authenticity_token" value="CDIKIu0ajBqOeRElFtA_qWweymJg2inm5tahYCySdYUX-hUlkrEpw_0TUW6PbHi17GMDy4rcTfHpw56D-uCu_g" autocomplete="off"><p><label for="answer_body">Body</label><textarea name="answer[body]" id="answer_body">new2</textarea></p><p><label for="answer_files">Files</label><input multiple="multiple" data-direct-upload-url="http://localhost:3000/rails/active_storage/direct_uploads" type="file" name="answer[files][]" id="answer_files"></p><p><input type="submit" name="commit" value="Save" data-disable-with="Save"></p><div id="links"><div class="links"><a class="add_fields" data-association="link" data-associations="links" data-association-insertion-template="<div class=&quot;nested-fields&quot;><p><label for=&quot;answer_links_attributes_new_links_name&quot;>Link name</label><input type=&quot;text&quot; name=&quot;answer[links_attributes][new_links][name]&quot; id=&quot;answer_links_attributes_new_links_name&quot; /></p><p><label for=&quot;answer_links_attributes_new_links_url&quot;>Url</label><input type=&quot;text&quot; name=&quot;answer[links_attributes][new_links][url]&quot; id=&quot;answer_links_attributes_new_links_url&quot; /></p><input value=&quot;false&quot; autocomplete=&quot;off&quot; type=&quot;hidden&quot; name=&quot;answer[links_attributes][new_links][_destroy]&quot; id=&quot;answer_links_attributes_new_links__destroy&quot; /><a class=&quot;remove_fields dynamic&quot; href=&quot;#&quot;>remove link</a></div>" href="#">add link</a></div></div></form></div></div></li></div></ol>