<div class="question">
  <div class="question-vote">
    <div class="show-rank"></div>
    <div class="voting"></div>
  </div>
  <div class="question-content">
    <div class="question-body"></div>
    <div class="question-title"></div>
    <div class="question-additions"></div>
  </div>
  <div class="question-actions">
      <link class="additions" rel="stylesheet" href="#">
      <link class="show" rel="stylesheet" href="#">
      <link class="edit" rel="stylesheet" href="#">
      <link class="delete" rel="stylesheet" href="#">
  </div>  
</div>

<div class="answers">
  <div class="best-answer">
    <div class="answer-vote">
      <div class="show-rank"></div>
      <div class="voting"></div>
    </div>
    <div class="answer-content">
      <div class="answer-author"></div>
      <div class="answer-body"></div>
    </div>
    <div class="answer-actions">
      <link class="edit" rel="stylesheet" href="#">
      <link class="delete" rel="stylesheet" href="#">
    </div>
  </div>
  <div class="other-answers">
    <div class="answer">
      <div class="answer-vote">
        <div class="show-rank"></div>
        <div class="voting"></div>
      </div>
      <div class="answer-content">
        <div class="answer-author"></div>
        <div class="answer-body"></div>
      </div>
      <div class="answer-actions">
        <link class="edit" rel="stylesheet" href="#">
        <link class="delete" rel="stylesheet" href="#">
      </div>
    </div>
  </div>
</div>
