.hidden { display : none };

.best-answer{
  max-width: fit-content;
  border: solid 2px;
  border-color: black;
  background-color: #94f3e6;
  padding: 10px;
}

.votable-rank{
  max-width: fit-content;
  border: solid 2px;
  border-color: rgb(238, 197, 13);
  background-color: #0276b9;
  padding: 10px;
}